<!doctype html>
<html lang="en-us">
<head>
	<meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">

	<link rel="stylesheet" href="/assets/main.css">
	<link rel="alternate" type="application/rss+xml" href="rss.xml" title="Stanifesto: Full Posts">
</head>
<body>
	<header>
		<h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
	</header>
	<main>
