html, body {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 45rem;
    font: 400 24px/1.618 "Roboto Condensed", Helvetica, Arial, sans-serif;
    color: #333;
    background: #fff;
    background-image: linear-gradient(to bottom, #fff, #ccc);
    background-attachment: fixed;
}

p {
    margin: 1.618em 0;
}

a {
    text-decoration: none;
    color: currentColor;
    font-weight: 700;
}

small {
    font-size: 0.5em;
    font-weight: normal;
}

hr {
    clear: both;
    height: 1px;
    width: 50%;
    margin: 0 auto;
    border: 0;
    background: #333;
}

body > header {
    border-bottom: 1px solid #ccc;
}

body > header,
body > footer {
    padding: 1rem 0;
}

article > header h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 3rem 0;
}

article > header time {
    color: #ccc;
}

article img {
    max-width: 50%;
}

article img:nth-of-type(odd) {
    float: left;
    margin: 1rem 1rem 1rem 0;
}

article img:nth-of-type(even) {
    float: right;
    margin: 1rem 0 1rem 1rem;
}

article blockquote {
    margin-left: 0;
    padding-left: 2em;
    border-left: 3px solid #ccc;
    font-style: italic;
}

main > ul {
    list-style: none;
    padding-left: 0;
}
main > ul li {
    transition: color 1s;
}