{{> header }}
		<article>
			<header>
				<time datetime="{{ date }}">{{ date }}</time>
				<h1>{{{ title }}}</h1>
			</header>
			<section>
				{{{ contents }}}
			</section>
		</article>
{{> footer }}